---
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: {}
UseTab: Never
TabWidth: 4
AccessModifierOffset: -4
Standard: Latest
SpacesInParensOptions: {}
AlignOperands: DontAlign
BitFieldColonSpacing: After
BinPackParameters: false
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
BreakAfterAttributes: Leave
BreakArrays: false
BreakConstructorInitializers: AfterColon
BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterColon
BreakTemplateDeclarations: Yes
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
IndentCaseLabels: true
InsertBraces: true
InsertNewlineAtEOF: true
Language: Cpp
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
RemoveParentheses: MultipleParentheses
RemoveSemicolon: true
SortIncludes: CaseInsensitive
SortUsingDeclarations: Lexicographic
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInAngles: Leave
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
BreakBeforeBraces: Mozilla
